:root {
    --good-aqi-color: rgb(137, 231, 137);
    --medium-aqi-color: rgb(231, 191, 117);
    --bad-aqi-color: rgb(229, 151, 151);
    --current-aqi-color: var(--good-aqi-color);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: rgb(51, 51, 51);

    background: mediumaquamarine;
    background: linear-gradient(45deg, darkslateblue, palegreen);
}

.container {
    width: 200px;
    box-shadow: 0 10px 10px 0 rgb(68, 67, 67);
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: var(--current-aqi-color);

    height: 10vh;
    padding: 20px 0;

    border: 1px solid var(--current-aqi-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aqi > h1 {
    margin: 0;
    font-size: 3em;
}

.location {
    color: whitesmoke;
}

.city {
    margin: 0;
    font-size: 2em;
}

.state-country {
    margin-top: 0;
}

.info {
    display: flex;
    background-color:azure;

    border: 1px solid gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info > * {
    border-right: 1px solid gray;
    padding: 20px;
    flex: 1;
}

.info > *:last-child {
    border: none;
}